<%= link_to 'Projets', projects_path %>
<%= link_to 'Utilisateurs', users_path  %>



<div id="projects">
  <% @projects.each do |project| %>
    <%= render 'shared/project-card', project: project %>
  <% end %>
</div>




