.nav-bar-wraper {
  position: sticky;
  background-color: rgba(233, 236, 234, 1);
}

.nav-bar {
  display: flex;
  padding: 1rem 1rem;


  .navigation-link {
    flex: 1 0 auto;
  }

  .connect-link {
    width: 20%;
    text-align: center;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;

      li {
        font-size: 16px;
      }

  }

  a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }


  .active {
    text-decoration: underline;
  }

}

.connected-button {

  img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 0.5rem;
  }
}

